# dependencies
node_modules/

# build outputs
dist/
out-tsc/

# environment variables
.env*
.env
.env.local
.env.*.local
Backend/.env.example

# misc
.DS_Store
coverage/


# Angular
.angular
dist
node_modules

# env
.env

# logs
npm-debug.log
# whatsapp-web.js session
.wwebjs_auth/
.wwebjs_cache/
