PORT=3001

MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority
MONGODB_DB_NAME=miLuGui
MONGODB_ORDERS_COLLECTION=orders

RESEND_API_KEY=re_xxxxxxxxxxxxx
NOTIFY_EMAIL_FROM="Pedidos MiLuGui <pedidos@tudominio.com>"
NOTIFY_EMAIL_TO=ventas@tudominio.com

NOTIFY_WHATSAPP_TO=34600111222
